.explorer {
  width: 300px;
  height: 100%;
  max-height: calc(100vh - 40px);
  overflow-y: auto;

  flex-shrink: 0;

  background-color: #1e1e1e;
  color: #fff;

  /* 
    // TODO: Clean up what's below 
  */
  display: flex;
  flex-direction: column;
}

.explorer-add-input {
  background: transparent;
  outline: none;
  box-shadow: none;
  border: 1px solid white;
  padding: 3px;
  color: #fff;
}

.explorer::-webkit-scrollbar {
  width: 6px;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.explorer:hover::-webkit-scrollbar {
  opacity: 1;
}

.explorer::-webkit-scrollbar-thumb {
  background-color: rgba(121, 121, 121, 0.6);     /* Dark gray, semi-transparent */
  border-radius: 3px;
}

.explorer::-webkit-scrollbar-track {
  background: transparent;                       /* or use rgba(0,0,0,0.1) for faint track */
}