.explorer {
  width: 300px;
  height: 100%;
  max-height: calc(100vh - 40px);
  overflow-y: auto;

  flex-shrink: 0;

  background-color: #1e1e1e;
  color: #fff;

  scrollbar-width: thin;             /* "auto" or "thin" */
  scrollbar-color: #888 #f0f0f0;     /* thumb color, track color */

  /* 
    // TODO: Clean up what's below 
  */
  display: flex;
  flex-direction: column;
}