.tab-bar {
    height: 40px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    background-color: #161616;
}

.right {
    width: 100%;
    border-bottom: 1px solid #2C2C2C;
}

.tab-bar-item {
    width: 150px;
    padding: 0 15px;
    flex-shrink: 0;
    text-wrap: nowrap;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: space-between;
    border-right: #313131;
    border-bottom: 1px solid #2C2C2C;
}

.tab-bar-item.active {
    background-color: #161616;
    border-bottom: transparent;
}

.tab-bar-item.active:not(:first-child) {
    border-left: 1px solid #2c2c2c;
}

.tab-bar-item.active:not(:last-child) {
    border-right: 1px solid #2c2c2c;
}

.tab-bar-item:hover {
    cursor: pointer;
}

.tab-bar-item:not(.active):hover {
    background-color: rgba(255, 255, 255, .06);
}

.tab-bar-item .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 16px;
    margin-left: 5px;
}

.tab-bar-item .icons > div {
    padding: 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-bar-item .icons .close {
    display: none;
}

.tab-bar-item:hover .close {
    display: flex;
}

.tab-bar-item:hover .edited {
    display: none;
}

.tab-bar-item .close:hover {
    display: flex;
    background-color: rgba(255, 255, 255, .2);
}