.navigator {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: #1e1e1e;
}

.navigator-btn {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 35px;
  background: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.navigator-btn svg {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.navigator-btn:not(#maximize-btn) svg {
  fill: #808080;
}

.navigator-btn#maximize-btn svg {
  stroke: #808080;
}

.navigator-btn#maximize-btn:hover svg {
  stroke: white;
}

.navigator-btn:not(#maximize-btn):hover svg {
  fill: white;
}

.navigator-btn:not(#close-btn):hover {
  background-color: #414141;
}

#close-btn:hover {
  background-color: #db1728;
}